@model ceenq.org.Resource.ViewModels.ResourcePartViewModel


<fieldset class="createdutc-datetime">
    @Html.LabelFor(m => m.DeliveredUtc, T("Sermon/Teaching Delivered On"))
    <label class="forpicker" for="@Html.FieldIdFor(m => m.DeliveredUtc)">@T("Date")</label>
    @Html.EditorFor(m => m.DeliveredUtc)
</fieldset>
<fieldset>
    <label>@T("Corresponding texts")</label>
        @Html.TextBoxFor(m => m.CorrespondingTexts, new { @class = "text" })
    <span class="hint">@T("Provide the associated biblical texts e.g., Mark 1:1-3,  Malachi 3:1")</span>

</fieldset>
@using(Script.Foot()) {

    @* generates the localization script *@
    @Display.CalendarsPickerLocalization()

    <script type="text/javascript">
    //<![CDATA[
    $(function () {

        @{
            <text>
            $("#@Html.FieldIdFor(m => Model.DeliveredUtc)").calendarsPicker({
                showAnim: "",
                renderer: $.extend({}, $.calendarsPicker.themeRollerRenderer, {
                    picker: "<div {popup:start} id='ui-datepicker-div'{popup:end} class='ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all{inline:start} ui-datepicker-inline{inline:end}'><div class='ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all'>{link:prev}{link:today}{link:next}</div>{months}{popup:start}{popup:end}<div class='ui-helper-clearfix'></div></div>",
                    month: "<div class='ui-datepicker-group'><div class='ui-datepicker-month ui-helper-clearfix'>{monthHeader:MM yyyy}</div><table class='ui-datepicker-calendar'><thead>{weekHeader}</thead><tbody>{weeks}</tbody></table></div>"
                })
            });
            </text>
            }
    });
    //]]>
    </script>
}
