@model ceenq.com.Accounts.ViewModels.LogViewModel
@using Orchard.Utility.Extensions

@{
    Layout.Title = T("Server Log").ToString();
    Script.Require("jQuery").AtHead();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary();
    <fieldset>
        
        <a href="@Url.Action("Refresh", new { accountName = Model.AccountName, ipAddress = Model.IpAddress, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString() })" itemprop="UnsafeUrl" class="button primaryAction">@T("Refresh")</a>
        <a href="@Url.Action("Clear", new { accountName = Model.AccountName, ipAddress = Model.IpAddress, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString() })" itemprop="UnsafeUrl" class="button primaryAction">@T("Clear Log")</a>
    </fieldset>
    <div>
        @Html.TextArea("text-area", (string)Model.LogText, 35, 80, new { })
    </div>
    <script type="text/javascript" language="javascript">
        resizeIt = function () {
            var str = $('#text-area').val();
            var cols = $('#text-area').attr("cols");

            var linecount = 0;
            $(str.split("\n")).each(function (index, item) {
                linecount += Math.ceil(item.length / cols); // take into account long lines
            })
            $('#text-area').attr("rows", linecount + 1);
        };
        resizeIt(); //initial on load
    </script>

}