@model kosfiz.WebSiteOwner.Models.WebSiteOwnerRecord

<h1>@Html.TitleForPage(T("Edit ownership verification code").ToString())</h1>
<div class="add-code">
@Html.ActionLink("Back to list", "Index")
</div>
@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()
    <fieldset>
    <p><label for="Title">@T("Title")</label>
    <input id="Title" name="Title" type="text" value="@Model.Title" />
    </p>
    <p><label for="MetaName">@T("Name")</label>
    <input id="MetaName" name="MetaName" type="text" value="@Model.MetaName" />
    </p>
    <p><label for="MetaContext">@T("Content")</label>
    <input id="MetaContent" name="MetaContent" type="text" value="@Model.MetaContent" />
    </p>
    <input type="submit" value="Save" />
    </fieldset>
}